<div class="col-six tab-full right">
                <h3>Yazılım & Grafik Tecrübelerim</h3>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>HTML5</strong>
                    </li>
                    <li>
                        <div class="progress percent85"><span>85%</span></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress percent70"><span>70%</span></div>
                        <strong>JQuery</strong>
                    </li>
                    <li>
                        <div class="progress percent70"><span>70%</span></div>
                        <strong>Photoshop</strong>
                    </li>
                    <li>
                        <div class="progress percent80"><span>80%</span></div>
                        <strong>After Effects</strong>
                    </li>
                    <li>
                        <div class="progress percent65"><span>65%</span></div>
                        <strong>Python</strong>
                    </li>
                </ul>
</div>