<div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">İnsanlar Benim için Ne Dediler?</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                    <p>
                        Efe Bey ile çalışmaktan oldukça memnun kaldığımı tüm şirket adına gönül rahatlığıyla söyleyebilirim.Kendisi işine oldukça bağlı olmakla kalmayıp, bize kendisini sevdirerek gönüllerimize taht kurmayı başarmıştır. Efe Bey çalışmış olduğum için tekrardan minnet duyuyorum.
                    </p>
                    <div class="testimonials__author h06">
                        Tim Cook
                        <span>CEO, Apple</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                    <p>
                        Şirketimizin en zor durumlarında en doğru kararları vererek bizleri bambaşka bir seviyeye çıkaran Efe Bey'e karşılığını asla ödeyemeyeceğim bir şekilde borçluyum. Efe Bey ile çalıştığım için oldukça mutluyum çünkü bize kendisini açtı ve adeta ailemden bir parça olmuştu.
                    </p>
                    <div class="testimonials__author h06">
                        Sundar Pichai
                        <span>CEO, Google</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="https://www.fortinet.com/content/dam/fortinet/images/management/Ken%20Image.jpg" alt="Author image" class="testimonials__avatar">
                    <p>
                        Fortinet şirketine yaptığı katkılardan dolayı Efe Bey'e teşekkürlerimi sunarım. Kendisi şirketimiz için bir mücevher değerindeydi ve öyle olmayada devam etmektedir. Şirketimizin şu ana kadar ki en iyi dönemleri Efe Bey ile çalışırken geçirdiğimiz dönemlerdi. Umarım bir gün yollarımız tekrardan Efe Bey ile kesişir.
                    </p>
                    <div class="testimonials__author h06">
                        Ken Xie
                        <span>CEO, Fortinet</span>
                    </div>
                </div>

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> 