<section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>İletişim</h3>
                <h1>Bana Ulaşın</h1>

                <p class="lead">Benimle ilgili daha fazla şey öğrenmek istiyorsanız veya iletişime geçmek istiyorsanız bana ulaşabilirsiniz.</p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>

                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="İsim" value="" minlength="2" required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="E-Posta" value="" required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Konu" value="" class="full-width">
                        </div>
                        <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="Mesaj" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                        </div>
                        <div class="form-field">
                            <button class="full-width btn--primary">Gönder</button>
                            <div class="submit-loader">
                                <div class="text-loader">Gönderiliyor...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Birşeyler ters gitti. Tekrar deneyiniz...
                </div>

                <!-- contact-success -->
                <div class="message-success">
                    Mesajınız gönderildi, teşekkürler!<br>
                </div>

            </div>
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Telefon</h4>
                <p>
                    Telefon: (+90) 544 153 23 66<br>
                    Telefon 2: (+90) 533 410 31 74<br>
                    Yurtdışı: (+44) 511 350 50 50
                </p>

                <h4 class="h06">E-Posta</h4>
                <p>
                    mehdiefesevimli@gmail.com<br>
                    efehan@gmail.com
                </p>

                <h4 class="h06">Adres</h4>
                <p>
                    Elmalıkent Mahallesi <br>
                    ABC Caddesi, ABC Sokağı<br>
                    No:3 34716
                </p>
            </div>

        </div>

</section> 